*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  font-size: 100%;
}

body {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
}

app-root {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
