.button {
  border-style: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(black, 0.5);
  cursor: pointer;

  &:hover {
    background-color: lightblue;
  }

  &:active {
    background-color: lightgrey;
  }
}

.flights {
  padding: 1rem;

  &__wrapper {
    background-color: rgba(white, 0.5);
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.25rem;
    background-color: white;
  }

  &__inner {
    padding: 1rem;
  }

  &__form {
    padding-bottom: 1rem;
  }

  &__scroll-box {
    overflow: auto;
    background-color: white;
  }

  &__scroll-content {
    display: grid;
    padding: 0.5rem;

    @media (max-width: 575px) {
      row-gap: 0.5rem;
    }

    @media (min-width: 576px) {
      row-gap: 1rem;
    }
  }
}

.form {
  display: flex;

  &__field {
    min-width: 0;
    border-style: none;
    padding: 0.25rem;
    font-size: 1.25rem;
    box-shadow: 0 2px 4px rgba(black, 0.5);

    &:last-of-type {
      margin-left: 1rem;
    }
  }

  &__button {
    margin-left: 1rem;
  }
}

.flight {
  display: grid;
  grid-template-columns: 5rem 8rem 8rem 15rem 15rem 5rem;
  justify-content: start;

  &_header {
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
  }

  @media (max-width: 575px) {
    column-gap: 1rem;
  }

  @media (min-width: 576px) {
    column-gap: 2rem;
  }
}
