.flights__list {
  display: grid;
  row-gap: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  list-style-type: none;
}

.flight {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 2rem;
}
